-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: absensi_mahasiswa
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi`
--

DROP TABLE IF EXISTS `absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_mahasiswa` int NOT NULL,
  `id_jadwal` int NOT NULL,
  `waktu_absen` datetime DEFAULT NULL,
  `status_kehadiran` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '',
  `telat` tinyint(1) DEFAULT '0',
  `fotoAbsensi` varchar(50) DEFAULT NULL,
  `lokasi_lat` double DEFAULT NULL,
  `lokasi_lng` double DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_mahasiswa` (`id_mahasiswa`),
  KEY `id_jadwal` (`id_jadwal`),
  CONSTRAINT `absensi_ibfk_1` FOREIGN KEY (`id_mahasiswa`) REFERENCES `mahasiswa` (`id`),
  CONSTRAINT `absensi_ibfk_2` FOREIGN KEY (`id_jadwal`) REFERENCES `jadwal_perkuliahan` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi`
--

LOCK TABLES `absensi` WRITE;
/*!40000 ALTER TABLE `absensi` DISABLE KEYS */;
INSERT INTO `absensi` VALUES (29,1,1,'2025-05-12 15:48:05','hadir',0,'1_1_2025-05-12_15_48_05.jpg',0,0,'2025-05-12 08:48:05');
/*!40000 ALTER TABLE `absensi` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `after_insert_absensi` AFTER INSERT ON `absensi` FOR EACH ROW BEGIN

    IF NEW.status_kehadiran = 'hadir' THEN

        UPDATE mahasiswa SET jumlah_hadir = jumlah_hadir + 1 WHERE id = NEW.id_mahasiswa;

    ELSEIF NEW.status_kehadiran = 'sakit' THEN

        UPDATE mahasiswa SET jumlah_sakit = jumlah_sakit + 1 WHERE id = NEW.id_mahasiswa;

    ELSEIF NEW.status_kehadiran = 'izin' THEN

        UPDATE mahasiswa SET jumlah_izin = jumlah_izin + 1 WHERE id = NEW.id_mahasiswa;

    ELSEIF NEW.status_kehadiran = 'alpa' THEN

        UPDATE mahasiswa SET jumlah_alpa = jumlah_alpa + 1 WHERE id = NEW.id_mahasiswa;

    END IF;

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `histori_absensi`
--

DROP TABLE IF EXISTS `histori_absensi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `histori_absensi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_mahasiswa` int DEFAULT NULL,
  `nim` varchar(20) DEFAULT NULL,
  `nama_mahasiswa` varchar(100) DEFAULT NULL,
  `nama_mk` varchar(100) DEFAULT NULL,
  `nama_dosen` varchar(100) DEFAULT NULL,
  `pertemuan_ke` int DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `jam_mulai` time DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  `ruangan` varchar(50) DEFAULT NULL,
  `status_kehadiran` enum('hadir','sakit','izin','alpa') DEFAULT NULL,
  `telat` tinyint(1) DEFAULT NULL,
  `waktu_absen` datetime DEFAULT NULL,
  `qr_code_data` text,
  `lokasi_lat` double DEFAULT NULL,
  `lokasi_lng` double DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `id_mahasiswa` (`id_mahasiswa`),
  CONSTRAINT `histori_absensi_ibfk_1` FOREIGN KEY (`id_mahasiswa`) REFERENCES `mahasiswa` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `histori_absensi`
--

LOCK TABLES `histori_absensi` WRITE;
/*!40000 ALTER TABLE `histori_absensi` DISABLE KEYS */;
/*!40000 ALTER TABLE `histori_absensi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwal_perkuliahan`
--

DROP TABLE IF EXISTS `jadwal_perkuliahan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwal_perkuliahan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_mk` int DEFAULT NULL,
  `pertemuan_ke` int DEFAULT NULL,
  `tanggal` date NOT NULL,
  `status_aktif` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  KEY `id_mk` (`id_mk`),
  CONSTRAINT `jadwal_perkuliahan_ibfk_1` FOREIGN KEY (`id_mk`) REFERENCES `mata_kuliah` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwal_perkuliahan`
--

LOCK TABLES `jadwal_perkuliahan` WRITE;
/*!40000 ALTER TABLE `jadwal_perkuliahan` DISABLE KEYS */;
INSERT INTO `jadwal_perkuliahan` VALUES (1,101,8,'2025-05-06',1),(2,102,8,'2025-05-06',1),(3,103,8,'2025-05-06',1),(4,201,8,'2025-05-07',1),(5,202,8,'2025-05-07',1),(6,203,8,'2025-05-07',1),(7,301,8,'2025-05-08',1),(8,302,8,'2025-05-08',1),(9,401,8,'2025-05-09',1),(10,402,8,'2025-05-09',1);
/*!40000 ALTER TABLE `jadwal_perkuliahan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mahasiswa`
--

DROP TABLE IF EXISTS `mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mahasiswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nim` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `password` text NOT NULL,
  `foto_profil` text,
  `jumlah_hadir` int DEFAULT '0',
  `jumlah_sakit` int DEFAULT '0',
  `jumlah_izin` int DEFAULT '0',
  `jumlah_alpa` int DEFAULT '0',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nim` (`nim`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mahasiswa`
--

LOCK TABLES `mahasiswa` WRITE;
/*!40000 ALTER TABLE `mahasiswa` DISABLE KEYS */;
INSERT INTO `mahasiswa` VALUES (1,'2022573010115','Risskiananda90@gmail.com','Rizki Ananda','$2b$10$QFQoteHmg1QtYSD0eN9A2enR.ZR6t6hnuDFyZ7tn2pT5ZvOQhZz8.',NULL,2,0,0,0,'2025-05-08 02:34:57');
/*!40000 ALTER TABLE `mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_kuliah`
--

DROP TABLE IF EXISTS `mata_kuliah`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mata_kuliah` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nama_mk` varchar(100) NOT NULL,
  `dosen` varchar(100) NOT NULL,
  `hari` varchar(20) NOT NULL,
  `jam_mulai` time NOT NULL,
  `jam_selesai` time NOT NULL,
  `ruang` varchar(50) DEFAULT NULL,
  `jumlah_pertemuan` int DEFAULT '16',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=403 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_kuliah`
--

LOCK TABLES `mata_kuliah` WRITE;
/*!40000 ALTER TABLE `mata_kuliah` DISABLE KEYS */;
/*!40000 ALTER TABLE `mata_kuliah` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifikasi`
--

DROP TABLE IF EXISTS `notifikasi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifikasi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_mahasiswa` int DEFAULT NULL,
  `tipe_notifikasi` varchar(50) DEFAULT NULL,
  `pesan` text,
  `waktu_dibuat` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `status_dibaca` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `id_mahasiswa` (`id_mahasiswa`),
  CONSTRAINT `notifikasi_ibfk_1` FOREIGN KEY (`id_mahasiswa`) REFERENCES `mahasiswa` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifikasi`
--

LOCK TABLES `notifikasi` WRITE;
/*!40000 ALTER TABLE `notifikasi` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifikasi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qr_code_mahasiswa`
--

DROP TABLE IF EXISTS `qr_code_mahasiswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qr_code_mahasiswa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_mahasiswa` int NOT NULL,
  `id_jadwal` int NOT NULL,
  `kode_qr` text NOT NULL,
  `lokasi_lat` double DEFAULT NULL,
  `lokasi_lng` double DEFAULT NULL,
  `radius_validasi` double DEFAULT '50',
  `waktu_berlaku_mulai` datetime DEFAULT NULL,
  `waktu_berlaku_akhir` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_mahasiswa` (`id_mahasiswa`,`id_jadwal`),
  KEY `id_jadwal` (`id_jadwal`),
  CONSTRAINT `qr_code_mahasiswa_ibfk_1` FOREIGN KEY (`id_mahasiswa`) REFERENCES `mahasiswa` (`id`),
  CONSTRAINT `qr_code_mahasiswa_ibfk_2` FOREIGN KEY (`id_jadwal`) REFERENCES `jadwal_perkuliahan` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qr_code_mahasiswa`
--

LOCK TABLES `qr_code_mahasiswa` WRITE;
/*!40000 ALTER TABLE `qr_code_mahasiswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `qr_code_mahasiswa` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-14 13:18:56
